<?php

require_once(__DIR__.'/../controller/AutorController.php');

$cnt = new AutorController();
$list = $cnt->getAutors();

?><html>
	<head><title>Lista de Autores</title></head>
	<body>
		<div id="wrapper">
			<h1>Lista de Autores</h1>
			<a href="/add.phtml">Añadir autor</a>
			<section id="autorlist">
				<?php foreach($list as $autor){ ?>
				<article class="autordesc">
					<span><?=$autor->getNom()?></span>
					<span><?=$autor->getCognom()?></span>
					<span><a href="/details.phtml?a=<?=$autor->getAid()?>">Detalles</a></span>
					<span><a href="/delete.phtml?a=<?=$autor->getAid()?>">Eliminar</a></span>
				</article>
				<?php } ?>
			</section>
		</div>
	</body>
</html>
