<?php

require_once(__DIR__.'/../../controller/FrasesController.php');
require_once(__DIR__.'/../../controller/AutorController.php');

$fid = $_GET['frases'];

$cnt = new AutorController();
$cnt2 = new FrasesController();

$frases = $cnt2->getFrase($fid);
$aid = $frases->getAutor();
$autor = $cnt->getAutor($aid);

?><html>
	<head><title>Detalle de la Frase</title></head>
	<body>
		<div id="wrapper">
			<h1>Detalle de la cita</h1>
	 		<?php include(__DIR__.'/../../inc/dfrases.phtml'); ?>
		</div>
	</body>
</html>
